MODE=notifica
VIP_MODE=off
PROMPT_NORMAL=custom/non-raggiungibile
PROMPT_VIP=custom/non-raggiungibile-vip
PROMPT_AMORE=custom/non-raggiungibile-amore
PROMPT_FAMIGLIA=custom/non-raggiungibile-famiglia
PROMPT_BLACKLIST=custom/occupato
